:root {
  --defaultgray-900: rgba(26, 32, 44, 1);
  --defaultgray-700: rgba(74, 85, 104, 1);
  --defaultgray-500: rgba(160, 174, 192, 1);
  --white: rgba(255, 255, 255, 1);
  --colortealish-blue: rgba(70, 124, 233, 1);
}
